<%= link_to cuisines_path, title: 'List all participating restaurants by cuisine' do %>
  <h1>OpenTable <span>alternative</span></h1>
  <p>See all restaurants sorted by cuisine</p>
<% end %>
<%= render @restaurants %>
<% if current_user %>
  <%= link_to "New restaurant", new_restaurant_path %>
<% else %>
  <p>Please <%= login_link %> or <%= signup_link %> to add a restaurant.</p>
<% end %>

